<div id="searchContainer">

	<div id="filterContainer">
		<div id="falseUserFilter"></div>
		<div id="alumniFilter"></div>
		<div id="hasUsedGiftCardFilter"></div>
		<div id="hasAnyContractFilter"></div>
		<div id="freeRiderFilter"></div>
		<div id="trueUserFilter"></div>
		<div id="isAllowedToTrainFilter"></div>	
		<div id="announcementsFilter"></div>
		<div id="timeSinceSignupFilter"></div>	
		<div id="giftCardsFilter"></div>
		<div id="hasContractFilter"></div>
	</div>
	
	<div id="aggregationRadios">
		<input id="aggregationRadioAND" type="radio" name="aggregationRadio"> AND 
		<input id="aggregationRadioOR" type="radio" name="aggregationRadio" checked="checked"> OR 
	</div>
	
	<div id="queryPreview">
	</div>
	
	<input id="searchButton" type="button" value="Search"/>

<!--

AnnouncementFilter, true/false, "newsletter","supervision". 

TimeSinceSignupFilter, true/false , YYYY-MM-DD:hh-mm-ss

GiftCardFilter, true/false, "Allgemeiner Gutschein","DailyDeal Aktion 12 Monate Training","Abnehmen.com Valentinsaktion","TopDeals Aktion 6 Monate Training","Freitraining 6 Monate","Freitraining 6 Monate (Einzelcode)","Webgains Guter Vorsatz Aktion","Kidsgo","Webgains Default Affiliate Code","Nipala Code","gutscheine.biz Promp","Facebook Guter Vorsatz Aktion","Mitarbeiter promo","FDDB Aktion 2 Mitglieder","Active Woman Aktion, 2011","Computer Bild Januar Aktion","Freitraining 3 Monate","FDDB promo","Freitraining 12 Monate","Aktion 6 Monate Freies Training","Gutschein Shops Berlin","Computer Bild Aktion September 2011","DailyDeal Aktion 12 Monate Training 3","DailyDeal Aktion 12 Monate Training 2".

HasContractFilter, true/false, "17","16","15","14","13","12","11","10","9","8","7","6","5","4","3","2","1". 
[17] hörsport-Freischaltung für 6 Monate,[16] hörsport-Freitraining für 12 Monate,[15] hörsport-Training für 6 Monate,[14] hörsport-Freitraining für 3 Monate,[13] hörsport-Training für 12 Monate,[12] hörsport-Training für 6 Monate,[11] hörsport-Training für 3 Monate,[10] Jahresabo: 7,95 EUR monatlich,[9] 6 Monats-Abo: 9,95 EUR monatlich,[8] 3 Monats-Abo: 12,95 EUR monatlich,[7] Schnupper Abo: 14,95 EUR monatlich,[6] Computer Bild Aktion: 4 Monate Training,[5] hörsport für immer,[4] Angebot: Jahresabo, 6 EUR monatlich,[3] Angebot: 6 Monats-Abo, 7 EUR monatlich,[2] Angebot: 3 Monats-Abo, 8 EUR monatlich,[1] Angebot: 10 EUR monatlich. </doc>

IsAllowedToTrainFilter, true/false  -->

</div>




