<% personalInformation = user.get('personalInformation') %>

<div class="infoLine">First Name:
<%= personalInformation.firstName %>
</div>

<div class="infoLine">Last Name:
<%= personalInformation.lastName %>
</div>

<div class="infoLine">Gender:
<%= personalInformation.gender %>
</div>

<div class="infoLine">Date of Birth:
<%= personalInformation.dateOfBirth %>
</div>

<div class="infoLine">Age:
<%= personalInformation.age %>
</div>

<div class="infoLine">BMI:
<%= personalInformation.BMI %>
</div>

<div class="infoLine">Height:
<%= personalInformation.height %>
</div>

<div class="infoLine">Weight:
<%= personalInformation.weight %>
</div>

<div class="infoLine">Joined at:
<%= personalInformation.creationDate %>
</div>

<div class="infoLine">Email Address:
<%= personalInformation.emailAddress %>
</div>

<div class="infoLine">Is banned:
<%= personalInformation.banned %>
</div>




